.nav-item.active {

    background-color:chartreuse;
    /* Change as needed */
    color: black;
    /* Change as needed */
    border-radius: 10px;
}

.nav-item.active a.nav-link {
    color: black;
    /* Change as needed */
}