.footer {
    background-color: #333;
    /* Change as needed */
    color: white;
    /* Change as needed */
    padding: 20px;
    /* Change as needed */
    text-align: center;
    /* Change as needed */
}

.footer-text {
    margin: 0;
    /* Change as needed */
}