.form-control{
    background-color: transparent;
    border: 2px solid #272222;
}

label{
    color:#272222;
    font-size: 18px;
}

.product-image {
    height: 100%;
    width: 50%;

}

.table{
    background-color: transparent !important;
}