<app-header></app-header>
<div class="container">
  <div class="intro mt-3">
    <h2 class="text-center">Đây là trang chủ</h2>
  </div>
  <div class="d-flex align-items-center mt-3 justify-content-center">
    <input
      type="text"
      placeholder="Tìm kiếm sản phẩm"
      class="form-control search-form"
    />
    <select class="form-control search-categories">
      <option selected disabled>Danh mục sản phẩm</option>
      <option>Đồ uống</option>
      <option>Đồ điện tử</option>
      <option>Đồ dùng cá nhân</option>
    </select>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="product-item mt-4">
        <img
          src="https://images.pexels.com/photos/90946/pexels-photo-90946.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
          class="product-image"
        />
        <h3 class="product-name mt-3">Product name</h3>
        <p class="product-description">Product description</p>
        <p class="product-warranty">Bảo hành 12 tháng</p>
        <p class="product-price">
          Giá: <del style="color: red">200$</del> <span>100$</span>
        </p>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item mt-4">
        <img
          src="https://images.pexels.com/photos/90946/pexels-photo-90946.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
          class="product-image"
        />
        <h3 class="product-name mt-3">Product name</h3>
        <p class="product-description">Product description</p>
        <p class="product-warranty">Bảo hành 12 tháng</p>
        <p class="product-price">
          Giá: <del style="color: red">200$</del> <span>100$</span>
        </p>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item mt-4">
        <img
          src="https://images.pexels.com/photos/90946/pexels-photo-90946.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
          class="product-image"
        />
        <h3 class="product-name mt-3">Product name</h3>
        <p class="product-description">Product description</p>
        <p class="product-warranty">Bảo hành 12 tháng</p>
        <p class="product-price">
          Giá: <del style="color: red">200$</del
          ><span>100$</span>
        </p>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
